:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  margin-top: 100px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.about_app {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.contact-link:hover{
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-link {
  color: var(--primary-color);
   box-shadow: var(--box-shadow);
  border: 1px solid var(--primary-color);
}
.about-link:hover{
  background: var(--primary-color);
  color: white;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}


.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.coder_name {
  margin-top: 10px;
  text-align: center;
}
.coder_name a {
  color: var(--primary-color);
  text-decoration: none;
}

.coder_name a:hover {
  text-decoration: underline;
}
@media (max-width: 600px) {
  .name,
  .about_title {
    font-size: 50px;
  }

  .greeting,
  .app_name,
  .contact_me {
    font-size: 38px;
  }

  .name_info,
  .about_info,
  .email-link {
    font-size: 18px;
  }
  .about_app {
    font-size: 16px;
  }
  .app_button {
    display: block;
    margin: 0 auto;
  }
}
